<!-- AUTH:TR.HIEN - THIS IS THE HTML FILE FOR THE APP BOTTOM SECTION  -->

<!-- MAIN APP FOOTER SECTION -->
<footer class=" mx-auto max-w-full border-x justify-between shadow-sm">
  <!-- TOP FOOTER SECTION -->
  <div
    class="bg-secondary border-t-2 text-base-content p-10 grid grid-cols-2 md:grid-cols-4 gap-6"
  >
    <!-- HELP SECTION -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Help</h6>
      <a href="#" class="block mb-1 hover-blue">Shipping</a>
      <a href="#" class="block mb-1 hover-blue">Returns + Exchanges</a>
      <a href="#" class="block mb-1 hover-blue">FAQ</a>
      <a href="#" class="block hover-blue">Compare</a>
    </nav>

    <!-- COMPANY SECTION -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Company</h6>
      <a href="#" class="block mb-1 hover-blue">About Us</a>
      <a href="#" class="block mb-1 hover-blue">Contact</a>
      <a href="#" class="block mb-1 hover-blue">Jobs</a>
    </nav>

    <!-- LEGAL SECTION -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Legal</h6>
      <a href="#" class="block mb-1 hover-blue">Terms of Use</a>
      <a href="#" class="block mb-1 hover-blue">Privacy Policy</a>
      <a href="#" class="block hover-blue">Cookie Policy</a>
    </nav>

    <!-- JOINING US SECTION -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Joining Us</h6>
      <a href="#" class="block mb-1 hover-blue">Blog</a>
      <a href="#" class="block mb-1 hover-blue">Our Collaborators</a>
      <a href="#" class="block mb-1 hover-blue">Highlights</a>
      <a href="#" class="block hover-blue">All Products</a>
    </nav>
  </div>

  <!-- MIDDLE SECTION -->
  <div class="text-center mt-6 text-sm text-gray-400">
    2nd-Store {{ currentYear }} &copy; All Rights Reserved.
  </div>
  <!-- BOTTOM FOOTER SECTION -->
  <div
    class="bg-secondary text-base-content px-10 py-4 flex flex-col md:flex-row items-center justify-between"
  >
    <!-- COMPANY INFORMATION -->
    <aside class="flex items-center">
      <mat-icon class="text-primary mr-3">shopping_bag</mat-icon>
      <div>
        <p class="text-md font-semibold">NewCo.2nd.Ltd.</p>
        <p class="text-sm">Providing Ecommerce & Technical Solutions</p>
      </div>
    </aside>

    <!-- SOCIALS MEDIA LINKS -->
    <nav class="mt-4 md:mt-0 hover:bg-inherit-400">
      <div class="flex space-x-4">
        <!-- FACEBOOK -->
        <a href="#" aria-label="Facebook">
          <mat-icon class="hover-blue">facebook</mat-icon>
        </a>
        <!-- EMAIL -->
        <a href="#" aria-label="Email">
          <mat-icon class="hover-blue">email</mat-icon>
        </a>
        <!-- PHONE -->
        <a href="#" aria-label="Phone">
          <mat-icon class="hover-blue">perm_phone_msg</mat-icon>
        </a>
        <!-- CODE - GITHUB -->
        <a href="#" aria-label="Github">
          <mat-icon class="hover-blue">code</mat-icon>
        </a>
      </div>
    </nav>
  </div>
</footer>
