/* Optional styles for the button */
button {
    border: none;
    background: transparent;
    cursor: pointer; 
  }
  
  mat-icon {
    font-size: 24px;
    .hover-blue:hover {
        color: #60a5fa; /* Tailwind's blue-400 hex code */
      }      
  }
  
fa-icon {
  
    font-size: 26px;
}