<!-- Main Footer Section -->
<footer class="mx-auto border-x justify-between shadow-sm">
  <!-- Top Footer Section -->
  <div
    class="bg-secondary border-t-2 text-base-content p-10 grid grid-cols-2 md:grid-cols-4 gap-6"
  >
    <!-- Help Section -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Help</h6>
      <a href="#" class="block mb-1 hover:text-primary">Shipping</a>
      <a href="#" class="block mb-1 hover:text-primary">Returns + Exchanges</a>
      <a href="#" class="block mb-1 hover:text-primary">FAQ</a>
      <a href="#" class="block hover:text-primary">Compare</a>
    </nav>

    <!-- Company Section -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Company</h6>
      <a href="#" class="block mb-1 hover:text-primary">About Us</a>
      <a href="#" class="block mb-1 hover:text-primary">Contact</a>
      <a href="#" class="block mb-1 hover:text-primary">Jobs</a>
    </nav>

    <!-- Legal Section -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Legal</h6>
      <a href="#" class="block mb-1 hover:text-primary">Terms of Use</a>
      <a href="#" class="block mb-1 hover:text-primary">Privacy Policy</a>
      <a href="#" class="block hover:text-primary">Cookie Policy</a>
    </nav>

    <!-- Joining Us Section -->
    <nav>
      <h6 class="text-lg font-semibold mb-3">Joining Us</h6>
      <a href="#" class="block mb-1 hover:text-primary">Blog</a>
      <a href="#" class="block mb-1 hover:text-primary">Our Collaborators</a>
      <a href="#" class="block mb-1 hover:text-primary">Highlights</a>
      <a href="#" class="block hover:text-primary">All Products</a>
    </nav>
  </div>

  <!-- Middle Footer Section -->
  <div class="text-center mt-6 text-sm text-gray-400">
    &copy; {{ currentYear }} 2nd-Store. All Rights Reserved.
  </div>
  <!-- Bottom Footer Section -->
  <div
    class="bg-secondary text-base-content px-10 py-4 flex flex-col md:flex-row items-center justify-between"
  >
    <!-- Company Info -->
    <aside class="flex items-center">
      <mat-icon class="text-primary mr-3">shopping_bag</mat-icon>
      <div>
        <p class="text-md font-semibold">NewCo.2nd.Ltd.</p>
        <p class="text-sm">Providing Ecommerce & Technical Solutions</p>
      </div>
    </aside>

    <!-- Social Media Links -->
    <nav class="mt-4 md:mt-0">
      <div class="flex space-x-4">
        <!-- Facebook -->
        <a href="#" aria-label="Facebook" class="hover:text-blue-600">
          <mat-icon>facebook</mat-icon>
        </a>
        <!-- Email -->
        <a href="#" aria-label="Email" class="hover:text-gray-500">
          <mat-icon>email</mat-icon>
        </a>
      </div>
    </nav>
  </div>
</footer>
